.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--text-color);
  gap: 40px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.App-link {
  color: #3271e6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 50px;
  padding: 20px 40px;
  margin: 0px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.font-face-alata {
  font-family: "Alata";
}

.font-face-aboreto {
  font-family: "Aboreto";
}