.toggle-switch-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.toggle-switch-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 24px;
}

.toggle-switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.toggle-switch-input:checked + .toggle-switch-slider {
  background-color: #3a5a40;
}

.toggle-switch-input:checked + .toggle-switch-slider:before {
  transform: translateX(26px);
}

.toggle-switch-input:focus + .toggle-switch-slider {
  box-shadow: 0 0 1px #3a5a40;
}

.dark-mode .toggle-switch-slider {
  background-color: #555;
}

.dark-mode .toggle-switch-input:checked + .toggle-switch-slider {
  background-color: #4CAF50;
}

