  .main-container {
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .f3 {
    --background-color: none;
    position: relative;
    display: flex;
    font-family: 'Alata';
  }
  .f3 * {
    box-sizing: border-box;
  }
  .f3.f3-cont {
    width:100%;
    height:90vh;
    max-height:90vh;
    color:#fff
  }
  .f3 {
    --female-color: rgb(196, 138, 146);
    --male-color: rgb(120, 159, 172);
    --genderless-color: lightgray;
    --background-color: rgb(33, 33, 33);
    --text-color: #0e0e0e;

    font-family: 'Alata', sans-serif;
  }

  .f3 .cursor-pointer {
    cursor: pointer;
  }
  .f3 svg.main_svg {
    width: 100%;
    height: 100%;
  }
  .f3 svg.main_svg text {
    fill: currentColor;
  }
  
  /* card-html */
  
  .f3 div.card {
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    line-height: 1.2;
  }

  .f3 div.card-image-circle {
    border-radius: 50%;
    padding: 5px;
    width: 90px;
    height: 90px;
  }

  .f3 div.card-image-circle div.card-label {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    max-width: 150%;
    min-height: 22px;
    text-align: center;
    background-color: var(--genderless-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3px;
    padding: 0 5px;
  }

  .f3 div.card-image-circle img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .f3 div.card-image-circle svg {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 50%;
    object-fit: cover;
  }

  .f3 div.card:hover > div {
  transform: translate(0, -2px);
  }
  .f3 div.card-main .card-inner, .f3 div.card:hover .card-inner {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
  }

  .f3 div.card-main .card-inner {
    outline: 4px solid rgba(220, 220, 220, 1);
  }

  .f3 div.card-inner.f3-path-to-main {
    outline: 4px solid rgba(255, 255, 255, 1);
  }
  .f3 div.card-female .card-inner, .f3 div.card-female .person-icon svg {
  background-color: var(--female-color);
  }
  .f3 div.card-male .card-inner, .f3 div.card-male .person-icon svg {
    background-color: var(--male-color);
  }
  .f3 div.card-genderless .card-inner, .f3 div.card-genderless .person-icon svg {
    background-color: var(--genderless-color);
  }

  /* branches between nodes */
  .f3 .link {
    transition: stroke-width 0.2s ease-in-out;
    stroke: #76380C;
    stroke-width: 4;
  }
  
  .f3 .link.f3-path-to-main {
    stroke-width: 4px;
  }


 /* card styling */
.f3 .card-main-outline {
    stroke: currentColor;
    stroke-width: 3px;
  }

.f3 .card-genderless .card-body-rect, .f3 .card-genderless .text-overflow-mask {
  fill: var(--genderless-color);
}

.f3 g.card_add text {
  fill: #fff;
}
.f3 .card-main-outline {
  stroke: currentColor;
  stroke-width: 3px;
}