.family-page {
    display: flex;
    text-align: center;
    color: black;
    padding-left: 300px;
}

@media screen and (max-width: 768px) {
    .family-page {
        padding-left: 0;
        padding-bottom: 96px;
        flex-direction: column;
    }
}