# SERVER ENV 
SUPABASE_URL=<yoururl> 
SUPABASE_SERVICE_ROLE_KEY=<yourkey>
EMAIL_FROM=hello.getkintree.tech
RESEND_API_KEY=<yourresendkey>

# CLIENT ENV
REACT_APP_SUPABASE_URL=<yoururl>
REACT_APP_SUPABASE_ANON_KEY=<yourkey>
REACT_APP_CLIENT_URL=localhost:3000
REACT_APP_SERVER_URL=localhost:5000