.navbar {
    height: 100%;
    width: 200px;
    background-color: #ccdfcd;
    position: fixed;
    justify-content: left;
}

.nested-nav-options-list {
    height: 100%;
    width: 180px;
    background-color: #ebffec;
    position: relative;

}

.nav-item {
    color: black;
    background-color: #ccdfcd;
    text-align: center;
    font: Alata;
}

.nav-item:hover {
    background-color: #ebffec;
}

.nav-item:active {
    background-color: #ebffec;
}

.nav-item-nested {
    color: black;
    background-color: #ebffec;
    text-align: center;
    font: Alata;
}

.nav-item-nested:hover {
    background-color: #f8fbf9;
}

.nav-item-nested:active {
    background: #f8fbf9;
}

.settings-icon {
    background-color: #ccdfcd;
    align-content: left;
}

/* .help-icon {
    
} */