.navbar {
    height: 100%;
    width: 200px;
    background-color: #ccdfcd;
    text-decoration: none;
    position: fixed;
    justify-content: left;
}

.nested-navbar {
    height: 100%;
    width: 160px;
    top: 0px;
    background-color: #ebffec;
    position: absolute;
    padding-left: 20px;
    margin-left: 160px;
}

.nav-item {
    color: black;
    background-color: #ccdfcd;
    border-style: round;
    border-color: black;
    text-decoration: none;
    text-align: left;
    font: Alata;
}

.nav-item:hover {
    background-color: #ebffec;
}

.nav-item-active {
    background-color: #ebffec;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav-item-nested {
    color: black;
    background-color: #ebffec;
    text-decoration: none;
    text-align: center;
    font: Alata;
}

.nav-item-nested:hover {
    background-color: #f8fbf9;
}

.nav-item-nested-active {
    background: #f8fbf9;
}

.settings-icon {
    background-color: #ccdfcd;
    align-content: left;
}

/* .help-icon {
    
} */